.maincontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    background: transparent;
    /* border: 2px solid green; */
    padding: 0 2rem;
}

.titlebox{
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-bottom: 30px
}

.titlebox > h2{
    margin-top: 20px;
    font-size: 40px;
    color: #36B97E;
    font-weight: 400;
}

.title{
    width: 100%;
    color: #36B97E;
    font-weight: 400;
    font-size: 35px;
}
.para{
    align-self: center;
    width: 60%;
    color: #B9BEC0;
    padding-top: 10px;
    font-size: 20px;
}

.carousel-container{
    /* border: 2px solid red; */
    height: auto;
}

.testimonial-card{
    /* border: 2px solid blue; */
    display: grid;
    align-items: center;
    justify-items: center;


}
