.card {
    width: 230px;
    height: 320px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #4ee1a0;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   .stretchlink::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
   }
   
   .text-body {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    color: rgb(134, 134, 134);
   }

   .text-body-heading{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: black
    ;
   }
   .textbodybox{
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        align-items: start;
        justify-content: center;
   }
   .textbox {
    display: flex;
    width: 100%;
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:0;
    padding-bottom: 10px;
    background-color: white;
    height: 27%;
   }
   .texttitle {
    font-size: 26px;
    margin: 0;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
   
   .card:hover {
    border-color: #4ee1a0;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;

   }