.navbar{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links-container{
    display: flex;
}

.navbar-links-container p{
    color:black;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-button{
    border: none;
    background-color: var(--color-green);
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 10px;
    width: 91px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#login-btn{
    background-color: #fff;
}

.navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    background-color: #fff;
    border: 1px solid #eee;
}

.navbar-menu-container p{
    margin: 1rem 0;
}

.navbar-menu-button{
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: 10px;
    width: 91px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    text-align: end;
    background-color: var(--color-green);
    display: none;
}

@media screen and (max-width: 1050px){
    
    .navbar-links-container{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px){
    .navbar{
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px){
    .navbar{
        padding: 2rem;
    }
    .navbar-button{
        display: none;
    }
    .navbar-menu-container{
        top:20px;
    }
    .navbar-menu-button{
        display: block;
        margin-left: auto;
    }
}
