.course-header{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.course-header > img{
    position: absolute;
    z-index: -1;
    align-self: flex-end;
    justify-self: flex-end;
    transform: scaleY(1.4);
}

.course-header > h1{
    font-size: 5rem;
    font-weight: 500;
    gap: 1rem;
    align-self: flex-start;
    padding-left: 6rem;
}

.course-header > h1 > span{
    font-size: 6rem;
    font-weight: 500;
    margin: 0 0.5rem;
    background: -webkit-linear-gradient(173deg, rgba(255,234,13,1) 3%, rgba(255,176,0,1) 44%, rgba(255,116,0,1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course-header > p{
    font-size: 1.5rem;
    font-weight: 300;
    align-self: flex-start;
    padding-left: 6rem;
    max-width: 600px;
}

.course-subheader{

}

.course-subheader > h2{
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: -50px;
}

.course-subheader > h1{
    font-size: 2rem;
    font-weight: 400;
    gap: 1rem;
}

.course-subheader > h1 > span{
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0.5rem;
    background: -webkit-linear-gradient(2deg, rgba(94,225,78,1) 0%, rgba(106,230,174,1) 44%, rgb(179, 255, 0) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course-main-container{
    width: 100%;
    padding: 2rem;
}

.course-topics{
    width: 30%;
    height: 100%;
    margin-top: -400px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.course-subtopic{
    width: 100%;
    min-height: 80px;
    border-left: 3px solid var(--color-green);
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
}

.course-subtopic > h2{
    font-size: 1.3rem;
    font-weight: 500;
}

.active-course{
    background-color: var(--color-green);
    color: white;
}

.preview-screen{
    border: 3px solid var(--color-green);
    border-radius: 30px;
    height: 350px;
    width: 40%;
    position: sticky;
    top: 25%;
    left: 50%;
    box-shadow: 1px 1px 10px #303031;
    overflow: hidden;
    padding: 1rem;
}

.preview-screen > h1{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-green-dark);
}

.preview-screen > h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.course-banner{
    width: 100%;
    height: 300px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.course-banner > h1{
    font-size: 3rem;
    font-weight: 300;
}

.course-banner > h1 > a{
    color: darkviolet;
    border-bottom: 2px solid darkviolet;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
    .preview-screen{
        width: 50%;
        left: 45%;
        top: 20%;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .course-topics{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .preview-screen{
        display: none;
    }
    .course-banner > h1{
        font-size: 2rem;
        padding: 0 2rem;

    }
    
}

@media screen and (max-width: 450px) {
    .course-topics{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .course-header > h1, .course-header > p{
        padding: 2rem;

    }
    .course-subheader > h1 > span{
        font-size: 2.2rem;
    }
    .course-subheader > h2{
        margin-top: 2rem;
    }
    .course-banner > h1{
        font-size: 2rem;
    }
}